#password path
#keys.sh
## nixos
result
pkgs/osquery/osquery
pkgs/osquery/cmake-3.14.6-Linux-x86_64.tar.gz
pkgs/osquery/osquery-toolchain-1.0.0.tar.xz
pkgs/osquery/osquery-4.2.0/
##PF_RING
7.6.0.tar.gz
PF_RING-7.6.0
## zeek BUild cache
zeek-3.0.3.tar.gz
zeek-3.0.3
pkgs/zeek/zeek-postgresql/
.DS_Store
init.el
dotfiles/doom/modules/*.el
dotfiles/doom/autoload/*.el
dotfiles/doom/modules/private/my-code/*.el
dotfiles/doom/modules/private/my-org/*.el
dotfiles/doom/*.el
dotfiles/doom/etc/b*
##Emacs bookmarks
bm-macos-data

#fish
fundle.fish
fish_prompt.fish

dotfiles/doom/*.el


